.header img{
      width: 200px;
}
.header {
      text-align: center;
}

.header nav {
      background-color: black;
      line-height: 40px;
      font-size: 20px;
}

nav a {
      text-decoration: none;
      text-transform: capitalize;
      color: #fff;
      margin-right: 20px;
      padding: 6px;
      cursor: pointer;
}

nav a:hover{
      background-color: gray;
      border-radius: 1px;
}
